.hamb-menu {
  display: none;
}

.navbar {
  background-color: #333;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  height: 30px;
  align-items: center;
}

.nav {
  display: grid;
  padding-left: 10px;
  grid-template-columns: 2fr 1.2fr;
  grid-template-rows: 1fr;
  width: 100vw;
}

.logo {
  color: white;
  margin-left: 10px;
  margin-right: 15px;
}

.flex-left {
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 0px 5px;
  margin-right: 5px;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 0px 10px;
}

.dropbtn {
  border: none;
  outline: none;
  color: rgb(179, 179, 179);
  background-color: transparent;
}

button[disabled] {
  border: none;
  outline: none;
  background-color: transparent;
  color: grey;
}

.buttons button {
  padding: 0;
}

.navigation {
  text-decoration: none;
  color: rgb(179, 179, 179);
}
.white-box {
  height: 30px;
}
.btn-search {
  height: 30px;
  border-radius: 3px;
  border: 1px solid green;
  color: green;
  background-color: #333;
}

.btn-search:hover{
  background-color: green;
  color: white;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {

  .navbar {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    height: 30px;
  }

  .nav {
    display: none;
  }

  .hamb-flex {
    display: flex;
    justify-content: flex-end;
  }

  .hamb-menu {
    display: block;
  }

  .menu {
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 6px 20px 6px 5px;
  }
}